@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif; 
  --color-yellow: #F5F749;
  --bg-hero: url('/chat.png');

  @keyframes tilt-wobble {
    0%   { transform: rotate(0deg); }
    30%  { transform: rotate(5deg); }
    60%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  --animate-tilt-wobble: tilt-wobble 0.6s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
